
<form class="form-horizontal">
  <fieldset>
    <legend>Student Registeration Form</legend>
    <div class="control-group">
      <label class="control-label" id="first">First Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Middle Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Last Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge"/>
      </div>
    </div>
  </fieldset>
</form>
